body{
    font-family: Tisa, sans-serif;
    overflow:auto;
}
.icon-btn{
    font-size: 25px;
    padding: 0px 8px;
}
a:hover{
    color: black;
}
.item-link, item-link:hover{
    color: black;
    cursor: unset;
    text-decoration: none !important;
}
