{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron bg-light p-3">
                <h3 class="text-center mb-2 d-inline"><b>Inventory Report</b>
                {% if Summary %}
                <div class="dropdown d-inline float-right">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Download Report
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{{ url_for('export_excel') }}">Excel</a>
                      <a class="dropdown-item" href="{{ url_for('export_pdf') }}">Pdf</a>
                    </div>
                  </div>
                {% endif %}
                </h3><hr>
                <div id="search_panel" class="d-flex justify-content-end">
                    <form id="filterOpt" action="{{ url_for('index')}}">
                      <label>Product</label>
                      <select id="product" name="product" class="selectpicker" multiple data-live-search="true">
                        <option selected>All</option>
                        {% for item in products %}
                        <option value="{{ item.product_name }}">{{ item.product_name }}</option>
                        {% endfor %}
                      </select>
                      <label>Location</label>
                      <select id="location" name="location" class="selectpicker" multiple data-live-search="true">
                        <option selected>All</option>
                        {% for item in locations %}
                        <option value="{{ item.warehouse_location }}">{{ item.warehouse_location }}</option>
                        {% endfor %}
                      </select>
                      <input type="submit" class="btn btn-primary mb-2" value="Search">
                    </form>
                  </div>
                <div class="mt-3 d-flex justify-content-center">
                    {{ msg }}
                </div>
                {% if Summary %}
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Products</th>
                            <th scope="col">Warehouse Locations</th>
                            <th scope="col">Available Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in Summary %}
                            {% if item.available_quantity != 0 %}
                                <tr>
                                    <td>{{ item.product }}</td>
                                    <td>{{ item.location }}</td>
                                    <td>{{ item.available_quantity }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table> 
                {% endif %}  
            </div>
        </div>
    </div>
</div>
{% endblock %}