{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron bg-light p-3">
                <h3 class="text-center mb-2 d-inline"><b>Inventory Report</b>
                {% if Summary %}
                <div class="dropdown d-inline float-right">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Download Report
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{{ url_for('export_excel') }}">Excel</a>
                      <a class="dropdown-item" href="{{ url_for('export_pdf') }}">Pdf</a>
                    </div>
                  </div>
                {% endif %}
                </h3><hr>
                {% if Summary|length == 0 %}
                <div class="text-center mt-5">
                    <h1><i class="fa fa-folder-open-o"></i></h1>
                    <h4>There is currently no data available to display.</h4>
                </div>
                {% else %}
                <div class="scrollable-div">
                    <table class="table table-bordered table-striped">
                        <thead class="fixed">
                        <tr>
                            <th scope="col">Products</th>
                            <th scope="col">Warehouse Locations</th>
                            <th scope="col">Available Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in Summary %}
                            {% if item.available_quantity != 0 %}
                                <tr>
                                    <td>{{ item.product }}</td>
                                    <td>{{ item.location }}</td>
                                    <td>{{ item.available_quantity }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table> 
                </div>
                {% endif %}  
            </div>
        </div>
    </div>
</div>
{% endblock %}