{% extends 'base.html' %}
{% block title %} Location {% endblock %}
{% block body %}
<div class="container">
<div class="row">
    <div class="col-12">
        <div class="jumbotron bg-light p-3">
          <h4 class="mb-2 font-weight-bold">Warehouse Locations <button type="button" class="btn icon-btn" 
            data-toggle="modal" data-target="#addNewLocation">
            <i class="fa fa-plus-square-o" data-toggle="tooltip" title="Add New Location"></i>
            </button></h4><hr>
            {% with messages =  get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          </button>
                          {% if category == "danger" or category == "warning" %}
                          <i class="fa fa-warning"></i>
                          {% endif %}
                          {{ message }}
                      </div>
                  {% endfor %}
              {% endif %}
            {% endwith %}
            {% if Locations %}
              <div class="scrollable-div">
                <table class="table table-bordered table-striped">
                    <thead class="fixed">
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Location</th>
                        <th scope="col">Product List</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for location in Locations %}
                      <tr>
                        <th>{{ loop.index }}</th>
                        <td>{{ location.warehouse_location}}</td>
                        <td>{{ location.product_list}}</td>
                        <td>
                          <button type="button" name="edit-btn" class="btn btn-default icon-btn" data-toggle="modal" data-target="#editLocation{{ location.id }}">
                            <i class="fa fa-edit" data-toggle="tooltip" title="Edit Location"></i>
                          </button>
                          <!-- Edit Location Modal -->
                          <div class="modal" id="editLocation{{ location.id }}">
                            <form action="{{ url_for('location') }}" method="POST">
                              <div class="modal-dialog">
                                <div class="modal-content">
                          
                                  <div class="modal-header">
                                    <h5 class="modal-title font-weight-bold">Edit Location</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>
                                  
                                  <div class="modal-body bg-light">
                                    <div class="form-group">
                                      <label class="font-weight-bold">Warehouse Location</label>
                                      <input type="hidden" name="edit_location" value="{{ location.id }}">
                                      <input type="text" name="location_name" class="form-control"
                                      value="{{ location.warehouse_location}}" required autofocus autocomplete="off">
                                    </div>
                                  </div>

                                  <div class="modal-footer">
                                    <input name="edit_location" value="{{ location.id }}" hidden>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                    </button>
                                    <input type="submit" class="btn btn-success" value="Save changes">                                </div>
                                  
                                </div>
                              </div>
                            </form>
                          </div>
                         
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>  
                </div> 
                {% else %}
                <div class="text-center mt-5">
                  <h1><i class="fa fa-folder-open-o"></i></h1>
                  <h4>There's currently no data to display. Add now!</h4>
                </div>
            {% endif %}
        </div>
    </div>
</div>
  <!-- Add Location Modal -->
  <div class="modal" id="addNewLocation">
    <form action="/location" method="POST">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title font-weight-bold">Add New Warehouse Location</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <div class="modal-body bg-light">
          <div class="form-group">
            <label class="font-weight-bold">Location</label>
            <input type="text" class="form-control" name="location_name" id="location_name" required autocomplete="off">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
          </button>
          <input type="submit" class="btn btn-success" value="Save">
        </div>
        
      </div>
    </div>
  </form>
  </div>

  


</div>
{% endblock %}