{% extends 'base.html' %}
{% block title %} Product movements {% endblock %}
{% block body %}
<div class="container">
<div class="row">
    <div class="col-12">
        <div class="jumbotron bg-light p-3">
            <h4 class="mb-2"><b>Product Movements</b> <button type="button" class="btn btn-md icon-btn" 
                data-toggle="modal" data-target="#addNewMovement">
                <i class="fa fa-plus-square-o" data-toggle="tooltip" title="Add New Movement"></i>
              </button></h4><hr>
              
              {% with messages =  get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                  <div class="alert alert-{{category}} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {% if category == "danger" or category == "warning" or category == "info" %}
                    <i class="fa fa-warning"></i>
                    {% endif %}
                    {{ message }}
                  </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
                <div id="search_panel" class="d-flex justify-content-end">
                  <form id="filterOpt" action="{{ url_for('movement')}}">
                    <label>Product</label>
                    <select id="product" name="product" class="selectpicker" multiple data-live-search="true">
                      <option value="">All</option>
                      {% for item in products %}
                      <option value="{{ item.product_name }}">{{ item.product_name }}</option>
                      {% endfor %}
                    </select>
                    <label>Location</label>
                    <select id="location" name="location" class="selectpicker" multiple data-live-search="true">
                      <option value="">All</option>
                      {% for item in locations %}
                      <option value="{{ item.warehouse_location }}">{{ item.warehouse_location }}</option>
                      {% endfor %}
                    </select>
                    <input type="submit" class="btn btn-primary mb-2" value="Search">
                  </form>
                </div>
                {% if Movements %}
                <table class="table table-bordered table-striped">
                    <thead> 
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Products</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for movement in Movements %}
                      <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ movement.product_name }}</td>
                        {% if movement.from_location  == None %}
                        <td>---</td>
                        {% else %}
                        <td>{{ movement.from_location }}</td>
                        {% endif %}
                        {% if movement.to_location  == None %}
                        <td>---</td>
                        {% else %}
                        <td>{{ movement.to_location }}</td>
                        {% endif %}
                        <td>{{ movement.product_qty }}</td>
                        <td>{{ movement.timestamp.date() }}</td>
                        <td>
                          <button type="button" name="edit-btn" class="btn btn-default icon-btn" data-toggle="modal" data-target="#editMovement{{ movement.id }}">
                            <i class="fa fa-edit" data-toggle="tooltip" title="Edit Movement"></i>
                          </button>
                          <!-- Edit Product Movement Modal -->
                          <div class="modal" id="editMovement{{ movement.id }}">
                            <form action="{{ url_for('movement') }}" method="POST">
                              <div class="modal-dialog">
                                <div class="modal-content">
                          
                                  <div class="modal-header">
                                    <h5 class="modal-title font-weight-bold">Edit Movement</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>
                                  
                                  <div class="modal-body bg-light">
                                    <div class="form-group">
                                      <label class="font-weight-bold">Product</label>
                                      <input type="hidden" name="edit_movement" value="{{ movement.id }}">
                                      <select class="custom-select my-1 mr-sm-2" name="product_name" disabled>
                                        <option value='Select product'>Select product</option>
                                          {% for product in products %}
                                            {% if product.product_name == movement.product_name %}
                                              <option value="{{ product.product_name }}"
                                                        id="product_{{ product.id }}" selected> 
                                                        {{ product.product_name }}
                                              </option>
                                            {% endif %}
                                                <option value="{{ product.product_name }}"
                                                        id="product_{{ product.id }}">
                                                        {{ product.product_name }}
                                                </option>
                                          {% endfor %}
                                      </select>
                                    </div>
                                  
                                    <div class="form-group">
                                      <label class="font-weight-bold">From</label>
                                      <select class="custom-select my-1 mr-sm-2" name="from_location" disabled>
                                        <option value='Select warehouse' id='0'>Select warehouse</option>
                                          {% for location in locations %}
                                            {% if location.warehouse_location == movement.from_location %}
                                            <option value="{{ location.warehouse_location }}"
                                                        id="{{ location.id }}" selected> 
                                                        {{ location.warehouse_location }}
                                            </option>
                                            {% endif %}
                                              <option value="{{ location.warehouse_location }}"
                                                      id="{{ location.id }}">
                                                      {{ location.warehouse_location }}
                                              </option>
                                          {% endfor %}
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label class="font-weight-bold">To</label>
                                        <select class="custom-select my-1 mr-sm-2" name="to_location" disabled>
                                          <option value='Select warehouse' id='0'>Select warehouse</option>
                                            {% for location in locations %}
                                              {% if location.warehouse_location == movement.to_location %}
                                              <option value="{{ location.warehouse_location }}"
                                                          id="{{ location.id }}" selected> 
                                                          {{ location.warehouse_location }}
                                              </option>
                                              {% endif %}
                                                <option value="{{ location.warehouse_location }}"
                                                        id="{{ location.id }}">
                                                        {{ location.warehouse_location }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-bold">Quantity</label>
                                        <input type="number" class="form-control" name="product_quantity"
                                              placeholder="Enter Product Quantity" value="{{ movement.product_qty }}"
                                              id="product_quantity" required autofocus>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                  </button>
                                  <input type="submit" class="btn btn-success" value="Save changes">
                                </div>  
                                </div>
                              </div>
                            </form>
                          </div>
                       
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table> 
                {% else %}
                <div class="mt-3 d-flex justify-content-center">
                  {{msg}}
                </div>
              {% endif %}
        </div>
    </div>
</div>
  <!-- Add Product Movement Modal -->
  <div class="modal" id="addNewMovement">
    <form action="{{ url_for('movement')}}" method="POST">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold">Add New Product Movement</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body bg-light">
          <div class="form-group">
            <label class="font-weight-bold">Product</label>
            <select class="custom-select my-1 mr-sm-2" name="product_name">
              <option value='Select product' id='0'>Select product</option>
                {% for product in products %}
                    <option value="{{ product.product_name }}"
                            id="product_{{ product.id }}">{{ product.product_name }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label class="font-weight-bold">From</label>
            <select class="custom-select my-1 mr-sm-2" name="from_location">
              <option value='Select warehouse' id='0'>Select warehouse</option>
                {% for location in locations %}
                    <option value="{{ location.warehouse_location }}"
                            id="product_{{ location.id }}">{{ location.warehouse_location }}
                    </option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label class="font-weight-bold">To</label>
              <select class="custom-select my-1 mr-sm-2" name="to_location">
                <option value='Select warehouse' id='0'>Select warehouse</option>
                  {% for location in locations %}
                      <option value="{{ location.warehouse_location }}"
                              id="product_{{ location.id }}">{{ location.warehouse_location }}
                      </option>
                  {% endfor %}
              </select>
          </div>
          <div class="form-group">
            <label class="font-weight-bold">Quantity</label>
            <input type="number" class="form-control" name="product_quantity"
                   placeholder=" Enter Product Quantity" id="product_quantity" required>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
          </button>
          <input type="submit" class="btn btn-success" value="Proceed">
        </div>
      </div>
    </div>
  </form>
  </div>

</div>
{% endblock %}