{% extends 'base.html' %}
{% block title %} Product {% endblock %}
{% block body %}

<div class="container">  
<div class="row">
    <div class="col-12">
        <div class="jumbotron bg-light p-3">
            <h4 class="mb-2 font-weight-bold">Products <button type="button" class="btn icon-btn" 
                data-toggle="modal" data-target="#addNewProduct">
                <i class="fa fa-plus-square-o" data-toggle="tooltip" title="Add New Product"></i>
              </button></h4><hr>
              
              {% with messages =  get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                  <div class="alert alert-{{category}} alert-dismissible mt-0" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {% if category == "danger" or category == "warning" %}
                    <i class="fa fa-warning"></i>
                    {% endif %}
                    {{ message }}
                  </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}  
              {% if Products %}
              <div class="scrollable-div">
                <table class="table table-bordered table-striped">
                    <thead class="fixed">
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for product in Products %}
                      <tr>
                        <th>{{ loop.index }}</th>
                        <td>{{ product.product_name }}</td>
                        {% if product.product_qty == 0 %}
                        <td>---</td>
                        {% else %}
                        <td>{{ product.product_qty }}</td>
                        {% endif %}
                        <td>
                          <button type="button" name="edit-btn" class="btn btn-default icon-btn" data-toggle="modal" data-target="#editProduct{{ product.id }}">
                            <i class="fa fa-edit" data-toggle="tooltip" title="Edit Product"></i>
                          </button>
                          <!-- Edit Product Modal -->
                          <div class="modal" id="editProduct{{ product.id }}">
                            <form action="{{ url_for('product') }}" method="POST">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title font-weight-bold">Edit Product</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div> 
                                  <div class="modal-body bg-light">
                                    <div class="form-group">
                                      <input type="hidden" name="edit_product" value="{{ product.id }}">
                                      <label class="font-weight-bold" for='product_name'>Product Name</label>
                                      <input type="text" name="product_name" id="product_name" class="form-control"
                                      value="{{ product.product_name }}" required autofocus autocomplete="off">
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                    </button>
                                    <input type="submit" class="btn btn-success" value="Save changes">
                                  </div>
                                  
                                </div>
                              </div>
                            </form>
                          </div>
                          
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div> 
                {% else %}
                  <div class="text-center mt-5">
                    <h1><i class="fa fa-folder-open-o"></i></h1>
                    <h4>There's currently no data to display. Add now!</h4>
                  </div>
                {% endif %}  
        </div>
    </div>
</div>
<!-- Add Product Modal -->
<div class="modal" id="addNewProduct">
  <form action="{{ url_for('product') }}" method="POST">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold">Add New Product</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body bg-light">
        <div class="form-group">
          <label class="font-weight-bold">Product Name</label>
          <input type="text" class="form-control" name="product_name" id="product_name" required autocomplete="off">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
        </button>
        <input type="submit" class="btn btn-success" value="Save">
      </div>
    </div>
  </div>
</form>
</div>

</div>
{% endblock %}